<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="cards">
    <p class="card-text">description</p>
    <p class="card-text">price</p>
  </div>
</div>
