<div class="card text-bg-dark">
  <%= image_tag("img_4810", height: "200px", class: "card-img opacity-25") %>
  <div class="card-img-overlay">
    <h5 class="card-title">SIGN UP FOR THE LATEST DROPS AND NEWS</h5>
    <p class="card-text">Forget raffles and early-morning drops. Buy and sell box</p>
    <p class="card-text"><i class="fa-brands fa-instagram fa-xl"></i></p>
  </div>
</div>
