<div class="card text-bg-dark mt-5 fixed">
  <div class="footer-banner"></div>
    <div class="card-img-overlay footer">
      <h5 class="card-title">The premier sneaker marketplace around</h5>
      <p class="card-text">Stay in touch with us below</p>
      <div class="footer-links">
        <a href="#"><i class="fa-brands fa-instagram fa-xl pe-2"></i></a>
        <a href="#"><i class="fab fa-twitter fa-xl pe-2"></i></a>
      </div>
  </div>
</div>
