<%# <div class="py-2"> %>
  <form id="nav-form" class="d-flex justify-content-center" action="/" method="get">
    <input id="nav-input" type="text" class="py-2 rounded me-2" name="search" value="<%=params[:search]%>" placeholder="Search sneakers..">
    <input type="submit" value="Search" class="px-3 py-2 rounded ">
  </form>
<%# </div> %>
