#banner-btn {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 12px 120px;
  background-color: rgb(183, 53, 64);;
}

#banner-btn:hover {
  background-color: rgb(232, 62, 76)
}



#buy-btn {
  padding: 10px 50px;
  border-radius: 8px;
}

.button {
  background-color: #c74e4e;; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.link-button {
  background-color: #f1f4f1; /* Green */
  border: none;
  color: black;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
}

.link-button:hover {
  color: #c74e4e;
}

.test-button {
  padding: 15px 32px;
  display: flex;

}

#back-btn {
  padding: 10px 50px;
  border-radius: 8px;
  background-color: lightgrey;
  width: 164px;
}

#back-btn a {
  color: black;
}
