#banner-btn {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 20px 120px;
  background-color: rgb(183, 53, 64);;
}

#banner-btn:hover {
  background-color: rgb(232, 62, 76)
}



#buy-btn {
  padding: 10px 50px;
  border-radius: 8px;
}

#buy-btn:hover {
  background-color: #9d1346;;
}

.button {
  background-color: #c74e4e;; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.link-button {
  background-color: #b6b7b6; /* Green */
  border: none;
  color: black;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.link-button:hover {
  color: #c74e4e;
}

.test-button {
  padding: 0 32px;
  display: flex;
}

#back-btn,
#change-btn {
  margin: 10px 0;
}

#delete-btn,
#back-btn,
#change-btn {
  padding: 10px 50px;
  border-radius: 8px;
  background-color: lightgrey;
  width: 164px;
  text-decoration: none;
  color: black;
}

#back-btn a {
  color: black;
  text-decoration: none;
}

#back-btn:hover {
  color: white;
  background-color: #8b8686;

}
