
.card-product {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.card-product-confirmation {
  overflow: hidden;
  height: 200px;
  width: 1200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
// .card-product img {
//   object-fit: cover;
// }

.reviews-confirmation {
  overflow: hidden;
  height: 100px;
  width: 1200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}


#order-confirmed-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 241, 241);
  justify-content: space-around;
  align-items: center;
  width: 400px;
  border-left: 1px solid rgba(131, 126, 126, 0.2);
  // text-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.sneaker-show-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  border-left: 1px solid rgba(131, 126, 126, 0.2);
  text-shadow: 0 0 15px rgba(0,0,0,0.1);
  background-color: #F4F1F1;
}

#seller {
  padding-bottom: 60px;
  color: black;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  width: 100%;
  padding-left: 20px;
}

.sneaker-details {
  text-align: center;
  color: black;
  padding: 10px;
}

.sneaker-confirmed-details {
  text-align: center;
  color: black;
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
  // background-color: rgb(245, 241, 241);
}

.sneaker-details h2{
  font-size: 2.5rem;
}

.sneaker-details p {
  font-size: 1.25rem;
}

.sneaker-details p strong {
  font-size: 2rem;
}

#carouselExampleControls {
  // padding-right: 20px;
  width: 800px;
}

#seller-hyperlink {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
}

#seller-hyperlink:hover {
  text-decoration: none;
  color: #be1717;
}

.order {
  display: flex;
  justify-content: center;
}

.card-product-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;}

.card-product-infos-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

// #buy-form {
//   padding-top: 60px;
// }
