p {
  padding-top: 20px;
}
.card-product {
  overflow: hidden;
  height: 600px;
  width: 1000px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.order {
  overflow: hidden;
  height: 200px;
  width: 1000px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 0;
  margin-top: 50px;
  justify-content: space-around;
}

.card-product img {
  // height: 100%;
  // width: 250px;
  object-fit: cover;
  margin-bottom: 150px;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 50px;
  text-align: center;
  padding-right: 100px;
}

.order .card-product-infos {
  padding: 25px;
  text-align: center;
}
