
.card-product {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

// .card-product img {
//   object-fit: cover;
// }

#order-container {
  display: flex;
  flex-direction: column;
  background-color: #100a0a93;
  color: white;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

#order-confirmed-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

#seller {
  padding-bottom: 60px;
  color: white;
}

.sneaker-details {
  text-align: center;
  color: white;
}

.sneaker-confirmed-details {
  text-align: center;
  color: black;
}

.sneaker-details h2{
  font-size: 2.5rem;
}

.sneaker-details p {
  font-size: 1.25rem;
}

.sneaker-details p strong {
  font-size: 2rem;
}

#carouselExampleControls {
  // padding-right: 20px;
  width: 800px;
}

#seller-hyperlink {
  text-decoration: none;
  color: lightcoral;
}

#seller-hyperlink:hover {
  text-decoration: none;
  color: red;
}

.order {
  display: flex;
  justify-content: center;
}

.card-product-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-product-infos-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
