.navbar-lewagon {
  justify-content: space-between;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar {
  color: rgba(6, 6, 6, 0.8);
  background: #E8E5E5;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(52, 50, 50);
}

.nav-item a{
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-item a:hover {
  background-color: white;
  border-radius: 8px;
  transition: 0.5s;
  color: black;
  padding: 5px 2px;
}

#nav-link-main {
  font-weight: bold;
  colour: black;
}



// #navbarSupportedContent .nav-item:hover {
//   background-color: white;
//   border-radius: 8px;
//   transition: 0.5s;
//   padding: 10px 10px;
//   color: rgb(158, 9, 16);
// }
