.navbar-lewagon {
  justify-content: space-between;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar {
  color: rgba(181, 0, 10, 0.8);
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
