#review-card {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

#review-section {
  width: 600px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
}

#sneaker-section {
  background-color: white;
  margin-left: 40px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#grid-reviews {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-auto-rows: 200px 200px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 20px;
}

#card-textbox-reviews {
  width: 200px;
}

#card-textbox-reviews p{
  font-size: 0.9rem;
}

#left-side {
  background-color: white;
}

#review-border {
  background-color: rgb(129, 127, 127);
  color: white;
}

#review-body {
  padding-top: 10px;
}

#profile-page-heading {
  font-weight: bold;
}

#review-form {
  width: 400px;
  background-color: #817F7F;
  color: white;
  padding: 20px 20px;
  border-radius: 8px;
}
