<div class="d-flex justify-content-center">
  <div class="center-form">
    <h1 class="create">Create a sneaker</h1>
    <div class="link-form">
    <div>
    <%= render 'form' %>
    </div>
     <%# <div id="list-form-button" class="d-flex flex-column justify-content-center"> %>
    <div class="test-button">
      <%= link_to 'Back', sneakers_path, class: "link-button" %>
    </div>
    <%# </div> %>
  </div>
</div>
</div>
