<%# diplaying out added sneakers %>
<%= @sneaker.name %>

  <ul>
    <li>Description: <%= @sneaker.description %></li>
    <li> £ <%= @sneaker.price %>
    <%# <%= @sneaker.photo ? image_tag @sneaker.photo %>
  </ul>
